/* Stylesheet For Particular Projects */

body.correct {
  background-color:rgb(199, 231, 195)
}


form {
	border: 3px solid cyan;
	border-radius: 3px;
	width: 480px;
	padding: 10px;
	margin: 0 auto;
}

form h2 {
	text-align: center;
}

.error {
	border: 5px solid red;
	border-radius: 5px;
}
